body{
	background-image:url(bricks.jpg);
}
ul{
    background-color:rgb(24,24,24);
    padding:5px;
    width:1300px;
    height:30px;
    border-radius:30px;
    border: 2px solid white;
}
li{
	display:inline;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:10px;
	float:right;
	text-decoration: none;
}
nav{
    position:fixed;
    top:0;
}
a{
    color:white;
    text-decoration: none;
    font-family: tahoma;
}
img{
	width:45px;
	margin-top:-8px;
}
#r{
    float:left;
}
p{
    color:white;
    font-size:10px;
    font-family:tahoma;
}
#text{
    border:20px solid white;
    padding:20px;
    width:100px;
	position: relative;
    top: 300px;
    left: 250px;
    border-radius:5px;
    border-image:url(cvece.jpg) 30 round;
    width:100px;
    height:100px;
    background-color:black;
}
#circle {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -52px;
    right: 45px;
}
#text1{
    border:20px solid white;
    padding:20px;
    width:100px;
	position: relative;
    top: 120px;
    left: 475px;
    border-radius:5px;
    width:100px;
    height:100px;
    border-image:url(cvece.jpg) 30 round;
    background-color:black;
}
#circle1 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -52px;
    right: 45px;
}
#text2{
    border:20px solid white;
    padding:20px;
    width:100px;
	position: relative;
    top: -60px;
    left: 700px;
    border-radius:5px;
    border-image:url(cvece.jpg) 30 round;
    width:100px;
    height:100px;
    background-color:black;
}
#circle2 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -52px;
    right: 45px;
}
#text3{
    border:20px solid white;
    padding:20px;
    width:100px;
	position: relative;
    top: -240px;
    left: 925px;
    border-radius:5px;
    border-image:url(cvece.jpg) 30 round;
    width:100px;
    height:100px;
    background-color:black;
}
#circle3 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -52px;
    right: 45px;
}

